@model IEnumerable<MilOficios.Models.Cliente>

@{
    ViewBag.Title = "Cliente Index";
}

<h2>Index</h2>

@Messages.AlertMessages()

<p>
    <a href="#" onclick="miloficios.getModal('@Url.Action("Create")'); return false;"
       data-toggle="modal" data-target="#modal-container" class="btn btn-success btn-sm">
        <span class="glyphicon glyphicon-plus">New</span>
    </a>
</p>

@*@Html.Partial("_List")*@

<div class="pagination"></div>
<div class="content"></div>
<div class="pagination"></div>

@Modal.GetModal("Cliente", "cliente.closeModal();")

<script src="~/Scripts/jquery.bootpag.min.js"></script>
<script src="~/App_JS/miloficios.js"></script>
<script src="~/App_JS/cliente.js"></script>

@* Scripts para el SignalR*@
<script src="~/Scripts/jquery.signalR-2.4.1.js"></script>
<script src="/signalr/hubs"></script>
<script type="text/javascript">
    $(function () {
        var clienteHub = $.connection.clienteHub;
        $.connection.hub.start().done(function () {
            console.log("Connected to Hub...");
            console.log(cliente);
        });
    })
</script>